<?xml version="1.0"?>
<configuration>
	<appSettings>
		<!--   User application and configured property settings go here.-->
		<!--   Example: <add key="settingName" value="settingValue"/> -->
		<add key="Date.Text" value="date"/>
	</appSettings>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Signature.SpellChecker" publicKeyToken="318B389F0DB66E46" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-2.1.7.25197" newVersion="2.1.7.25197"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>
